.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 90vh;
  width: 60%;
  margin-inline: auto;
}

.outer {
  width: 60%;
}

.inner {
  vertical-align: center;
}

.theme-button {
  width: 100%;
}

@media (max-width: 599.98px) {
  .list {
    width: 100%;
  }
}

