<div class="main-containerr">
  <app-header [sideNav]="isMobile ? sideNav : undefined"/>
  <mat-drawer-container>
    <mat-drawer #sideNav>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let button of buttons">
          <button mat-button color="accent" [routerLink]="button.routerLink" (click)="sideNav.close()" class="menu-button">
            {{button.text}}
          </button>
        </mat-list-item>
      </mat-list>
    </mat-drawer>

    <mat-drawer-content [ngStyle]="{'overflow-y': 'clip'}">
      <router-outlet/>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
